# Manipulating DataFrames with pandas

## Extracting and transforming data

In [1]:
import numpy as np
import pandas as pd

### indexing and slicing

In [2]:
df_airport = pd.read_csv('/home/xenakas/Desktop/Git/py_projects/airports/airports.csv', index_col=0, header=None, na_values = {9:['\\N']})

# export 
# df_airport.to_csv(out_csv)
# df_airport.to_csv(out_tsv, sep='\t', index=False)
# df_airport.to_excel(out_xlsx, index=False)

In [3]:
df_airport.iloc[1:3,2:4]

                  3    4
0
2  Papua New Guinea  MAG
3  Papua New Guinea  HGU

In [4]:
df_airport.loc[1:3,2:4]

             2                 3    4
0
1       Goroka  Papua New Guinea  GKA
2       Madang  Papua New Guinea  MAG
3  Mount Hagen  Papua New Guinea  HGU

In [5]:
print(type(df_airport[3]), type(df_airport[[3]]))

<class 'pandas.core.series.Series'> <class 'pandas.core.frame.DataFrame'>

In [6]:
df_airport.loc[3:7,: ]

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,,,,,,,,,,,,,
3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10.0,U,Pacific/Port_Moresby,airport,OurAirports
4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10.0,U,Pacific/Port_Moresby,airport,OurAirports
5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10.0,U,Pacific/Port_Moresby,airport,OurAirports
6,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-3.583830,143.669006,19,10.0,U,Pacific/Port_Moresby,airport,OurAirports
7,Narsarsuaq Airport,Narssarssuaq,Greenland,UAK,BGBW,61.160500,-45.425999,112,-3.0,E,America/Godthab,airport,OurAirports

In [7]:
df_airport.loc[7:3:-1]

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,,,,,,,,,,,,,
7,Narsarsuaq Airport,Narssarssuaq,Greenland,UAK,BGBW,61.160500,-45.425999,112,-3.0,E,America/Godthab,airport,OurAirports
6,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-3.583830,143.669006,19,10.0,U,Pacific/Port_Moresby,airport,OurAirports
5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10.0,U,Pacific/Port_Moresby,airport,OurAirports
4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10.0,U,Pacific/Port_Moresby,airport,OurAirports
3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10.0,U,Pacific/Port_Moresby,airport,OurAirports

In [8]:
df_airport[::-7].head(5)

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,,,,,,,,,,,,,
12057,Shenyang Dongta Airport,Shenyang,China,\N,ZYYY,41.784401,123.496002,0,NaN,\N,\N,airport,OurAirports
12050,Huatugou Airport,Mengnai,China,HTT,ZLHX,38.201984,90.841495,2945,NaN,\N,\N,airport,OurAirports
12043,Warren Airport,NaN,Australia,QRR,YWRN,-31.733299,147.802994,669,NaN,\N,\N,airport,OurAirports
12036,Smithton Airport,NaN,Australia,SIO,YSMI,-40.834999,145.084000,31,NaN,\N,\N,airport,OurAirports
12029,Kempsey Airport,NaN,Australia,KPS,YKMP,-31.074400,152.770004,54,NaN,\N,\N,airport,OurAirports

### filtering

In [9]:
df_a = df_airport.copy()

df_a.loc[:, df_a.all()].head(4) # all columns excluding columns containing 0

,1,2,3,4,5,6,10,11,12,13
0,,,,,,,,,,
1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,U,Pacific/Port_Moresby,airport,OurAirports
2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,U,Pacific/Port_Moresby,airport,OurAirports
3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,U,Pacific/Port_Moresby,airport,OurAirports
4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,U,Pacific/Port_Moresby,airport,OurAirports

In [10]:
df_a.loc[:, df_a.any()].head(4) # all columns excluding columns containing all 0

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,,,,,,,,,,,,,
1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10.0,U,Pacific/Port_Moresby,airport,OurAirports
2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10.0,U,Pacific/Port_Moresby,airport,OurAirports
3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10.0,U,Pacific/Port_Moresby,airport,OurAirports
4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10.0,U,Pacific/Port_Moresby,airport,OurAirports

In [11]:
df_a.loc[:, df_a.isnull().any()].head(4) # select columns with any NaNs

             2    4     9
0
1       Goroka  GKA  10.0
2       Madang  MAG  10.0
3  Mount Hagen  HGU  10.0
4       Nadzab  LAE  10.0

In [12]:
df_a.loc[:, df_a.notnull().all()].head(4) # select columns without NaNs

,1,3,5,6,7,8,10,11,12,13
0,,,,,,,,,,
1,Goroka Airport,Papua New Guinea,AYGA,-6.081690,145.391998,5282,U,Pacific/Port_Moresby,airport,OurAirports
2,Madang Airport,Papua New Guinea,AYMD,-5.207080,145.789001,20,U,Pacific/Port_Moresby,airport,OurAirports
3,Mount Hagen Kagamuga Airport,Papua New Guinea,AYMH,-5.826790,144.296005,5388,U,Pacific/Port_Moresby,airport,OurAirports
4,Nadzab Airport,Papua New Guinea,AYNZ,-6.569803,146.725977,239,U,Pacific/Port_Moresby,airport,OurAirports

In [13]:
df_a.dropna(how='any') # drop rows with any NaNs

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,,,,,,,,,,,,,
1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10.0,U,Pacific/Port_Moresby,airport,OurAirports
2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10.0,U,Pacific/Port_Moresby,airport,OurAirports
3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10.0,U,Pacific/Port_Moresby,airport,OurAirports
4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10.0,U,Pacific/Port_Moresby,airport,OurAirports
5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10.0,U,Pacific/Port_Moresby,airport,OurAirports
6,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-3.583830,143.669006,19,10.0,U,Pacific/Port_Moresby,airport,OurAirports
7,Narsarsuaq Airport,Narssarssuaq,Greenland,UAK,BGBW,61.160500,-45.425999,112,-3.0,E,America/Godthab,airport,OurAirports
8,Godthaab / Nuuk Airport,Godthaab,Greenland,GOH,BGGH,64.190903,-51.678101,283,-3.0,E,America/Godthab,airport,OurAirports
9,Kangerlussuaq Airport,Sondrestrom,Greenland,SFJ,BGSF,67.012222,-50.711603,165,-3.0,E,America/Godthab,airport,OurAirports
10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531197,-68.703201,251,-4.0,E,America/Thule,airport,OurAirports
11,Akureyri Airport,Akureyri,Iceland,AEY,BIAR,65.660004,-18.072701,6,0.0,N,Atlantic/Reykjavik,airport,OurAirports
12,Egilsstaðir Airport,Egilsstadir,Iceland,EGS,BIEG,65.283302,-14.401400,76,0.0,N,Atlantic/Reykjavik,airport,OurAirports
13,Hornafjörður Airport,Hofn,Iceland,HFN,BIHN,64.295601,-15.227200,24,0.0,N,Atlantic/Reykjavik,airport,OurAirports
14,Húsavík Airport,Husavik,Iceland,HZK,BIHU,65.952301,-17.426001,48,0.0,N,Atlantic/Reykjavik,airport,OurAirports
15,Ísafjörður Airport,Isafjordur,Iceland,IFJ,BIIS,66.058098,-23.135300,8,0.0,N,Atlantic/Reykjavik,airport,OurAirports
16,Keflavik International Airport,Keflavik,Iceland,KEF,BIKF,63.985001,-22.605600,171,0.0,N,Atlantic/Reykjavik,airport,OurAirports
17,Patreksfjörður Airport,Patreksfjordur,Iceland,PFJ,BIPA,65.555801,-23.965000,11,0.0,N,Atlantic/Reykjavik,airport,OurAirports
18,Reykjavik Airport,Reykjavik,Iceland,RKV,BIRK,64.129997,-21.940599,48,0.0,N,Atlantic/Reykjavik,airport,OurAirports
19,Siglufjörður Airport,Siglufjordur,Iceland,SIJ,BISI,66.133301,-18.916700,10,0.0,N,Atlantic/Reykjavik,airport,OurAirports
20,Vestmannaeyjar Airport,Vestmannaeyjar,Iceland,VEY,BIVM,63.424301,-20.278900,326,0.0,N,Atlantic/Reykjavik,airport,OurAirports
21,Sault Ste Marie Airport,Sault Sainte Marie,Canada,YAM,CYAM,46.485001,-84.509399,630,-5.0,A,America/Toronto,airport,OurAirports
22,Winnipeg / St. Andrews Airport,Winnipeg,Canada,YAV,CYAV,50.056400,-97.032501,760,-6.0,A,America/Winnipeg,airport,OurAirports
23,Halifax / CFB Shearwater Heliport,Halifax,Canada,YAW,CYAW,44.639702,-63.499401,144,-4.0,A,America/Halifax,airport,OurAirports
24,St. Anthony Airport,St. Anthony,Canada,YAY,CYAY,51.391899,-56.083099,108,-3.5,A,America/St_Johns,airport,OurAirports
25,Tofino / Long Beach Airport,Tofino,Canada,YAZ,CYAZ,49.079833,-125.775583,80,-8.0,A,America/Vancouver,airport,OurAirports
26,Kugaaruk Airport,Pelly Bay,Canada,YBB,CYBB,68.534401,-89.808098,56,-7.0,A,America/Edmonton,airport,OurAirports
27,Baie Comeau Airport,Baie Comeau,Canada,YBC,CYBC,49.132500,-68.204399,71,-5.0,A,America/Toronto,airport,OurAirports
28,CFB Bagotville,Bagotville,Canada,YBG,CYBG,48.330601,-70.996399,522,-5.0,A,America/Toronto,airport,OurAirports
29,Baker Lake Airport,Baker Lake,Canada,YBK,CYBK,64.298897,-96.077797,59,-6.0,A,America/Winnipeg,airport,OurAirports
30,Campbell River Airport,Campbell River,Canada,YBL,CYBL,49.950802,-125.271004,346,-8.0,A,America/Vancouver,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11407,Berezniki Airport,Berezniki,Russia,\N,USPT,59.579548,56.857681,207,6.0,U,\N,airport,OurAirports
11431,San Sebastián Airport,San Sebastian,Chile,\N,SCSS,-53.317001,-68.650002,50,-4.0,S,\N,airport,OurAirports
11433,Tolwin Observatory Airport,Tolhuin,Argentina,\N,SAWL,-54.521900,-67.198997,90,-3.0,S,\N,airport,OurAirports
11436,Tarko-Sale Airport,Tarko-Sale,Russia,TQL,USDS,64.930801,77.818100,82,5.0,U,\N,airport,OurAirports
11438,Camarillo Airport,Camarillo - CA,United States,\N,KCMA,34.213699,-119.094002,77,-8.0,A,\N,airport,OurAirports
11452,Leopoldsburg Airfield,Leopoldsburg,Belgium,\N,EBLE,51.120000,5.307222,207,1.0,E,\N,airport,OurAirports
11479,Omtepe Airport,Moyogalpa,Nicaragua,\N,MNLP,11.523616,-85.702995,200,-6.0,S,\N,airport,OurAirports
11498,Alashankou Bole (Bortala) airport,Bole,China,BPL,ZWAX,44.895000,82.300000,1253,8.0,N,\N,airport,OurAirports
11524,Achinsk Airport,Achinsk,Russia,ACS,UNKS,56.268299,90.570801,1033,8.0,N,\N,airport,OurAirports
11583,Hinton/Jasper-Hinton Airport,Hinton,Canada,\N,CEC4,53.319199,-117.752998,4006,-7.0,A,\N,airport,OurAirports
11638,Watsonville Municipal Airport,Watsonville,United States,WVI,KWVI,36.935699,-121.790001,163,-8.0,A,\N,airport,OurAirports
11644,Gelephu Airport,Gelephu,Bhutan,GLU,VQGP,26.884560,90.464120,980,6.0,N,\N,airport,OurAirports
11649,Williamsburg Jamestown Airport,Williamsburg,United States,JGG,KJGG,37.239201,-76.716103,49,-5.0,A,\N,airport,OurAirports
11658,Dulkaninna Airport,Dulkaninna,Australia,DLK,YDLK,-29.013300,138.481003,0,9.5,U,\N,airport,OurAirports
11673,William Creek Airport,William Creek,Australia,\N,YWMC,-28.906700,136.341995,91,9.5,U,\N,airport,OurAirports
11684,Kenora Seaplane Base,Kenora,Canada,\N,CJM9,49.767424,-94.492740,1060,-6.0,A,\N,airport,OurAirports
11700,Siquijor Airport,Siquijor,Philippines,\N,RPVZ,9.214203,123.472252,0,8.0,N,\N,airport,OurAirports
11702,Opapimiskan Lake Airport,Musselwhite Mine,Canada,KM8,CKM8,52.606701,-90.376900,1023,-5.0,A,\N,airport,OurAirports
11717,Taroom Airport,Taroom,Australia,XTO,YTAM,-25.801701,149.899994,240,10.0,N,\N,airport,OurAirports
11718,Gelnhausen Airport,Gelnhausen,Germany,\N,EDFG,50.197224,9.170000,446,1.0,E,\N,airport,OurAirports
11719,Ærø Airport,Aero,Denmark,\N,EKAE,54.852798,10.456400,3,1.0,E,\N,airport,OurAirports
11720,Lauterbach Airport,Lauterbach-Wernges,Germany,\N,EDFT,50.683334,9.410833,1211,1.0,E,\N,airport,OurAirports
11721,Aschaffenburg Airport,Aschaffenburg,Germany,\N,EDFC,49.938889,9.063889,410,1.0,E,\N,airport,OurAirports
11722,Squamish Airport,Squamish,Canada,YSE,CYSE,49.781700,-123.162003,171,-8.0,A,\N,airport,OurAirports
11735,Reichelsheim Airport,Reichelsheim,Germany,\N,EDFB,50.335835,8.878056,397,1.0,E,\N,airport,OurAirports
11737,Marburg-Schönstadt Airport,Schoenstadt,Germany,\N,EDFN,50.874443,8.815000,833,1.0,E,\N,airport,OurAirports
11738,Lauenbrück Airport,Lauenbrueck,Germany,\N,EDHU,53.207500,9.573333,98,1.0,E,\N,airport,OurAirports
11739,Hüttenbusch Airport,Huettenbusch,Germany,\N,EDXU,53.286667,8.947222,10,1.0,E,\N,airport,OurAirports
11740,Vrsar Crljenka Airport,Vsar,Croatia,\N,LDPV,45.141701,13.630600,121,1.0,E,\N,airport,OurAirports
11742,Union County Airport,Marysville,United States,MRT,KMRT,40.224701,-83.351601,1021,-5.0,A,\N,airport,OurAirports

You can use the ``thresh=`` keyword argument to drop columns from the full dataset that have less than 1000 non-missing values.

In [14]:
df_a[df_a[7]>175].head(4)

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,,,,,,,,,,,,,
1960,Nadi International Airport,Nandi,Fiji,NAN,NFFN,-17.755400,177.442993,59,12.0,U,Pacific/Fiji,airport,OurAirports
1961,Nausori International Airport,Nausori,Fiji,SUV,NFNA,-18.043301,178.559006,17,12.0,U,Pacific/Fiji,airport,OurAirports
2007,Taupo Airport,Taupo,New Zealand,TUO,NZAP,-38.739700,176.084000,1335,12.0,Z,Pacific/Auckland,airport,OurAirports
2012,Gisborne Airport,Gisborne,New Zealand,GIS,NZGS,-38.663300,177.977997,15,12.0,Z,Pacific/Auckland,airport,OurAirports

In [15]:
df_a.loc[df_a[6]<0, 6] = np.nan # change all negative to NaN

df_a.head(8)

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,,,,,,,,,,,,,
1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,NaN,145.391998,5282,10.0,U,Pacific/Port_Moresby,airport,OurAirports
2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,NaN,145.789001,20,10.0,U,Pacific/Port_Moresby,airport,OurAirports
3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,NaN,144.296005,5388,10.0,U,Pacific/Port_Moresby,airport,OurAirports
4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,NaN,146.725977,239,10.0,U,Pacific/Port_Moresby,airport,OurAirports
5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,NaN,147.220001,146,10.0,U,Pacific/Port_Moresby,airport,OurAirports
6,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,NaN,143.669006,19,10.0,U,Pacific/Port_Moresby,airport,OurAirports
7,Narsarsuaq Airport,Narssarssuaq,Greenland,UAK,BGBW,61.160500,-45.425999,112,-3.0,E,America/Godthab,airport,OurAirports
8,Godthaab / Nuuk Airport,Godthaab,Greenland,GOH,BGGH,64.190903,-51.678101,283,-3.0,E,America/Godthab,airport,OurAirports

### transforming

In [16]:
df_a.loc[:,6:9].floordiv(12).head(7) # or with np.floor_divide - elementwise

     6     7    8    9
0
1  NaN  12.0  440  0.0
2  NaN  12.0    1  0.0
3  NaN  12.0  449  0.0
4  NaN  12.0   19  0.0
5  NaN  12.0   12  0.0
6  NaN  11.0    1  0.0
7  5.0  -4.0    9 -1.0

In [17]:
df_a.loc[:,6:9].apply(lambda n: n//10).head(7) # vectorized function

     6     7    8    9
0
1  NaN  14.0  528  1.0
2  NaN  14.0    2  1.0
3  NaN  14.0  538  1.0
4  NaN  14.0   23  1.0
5  NaN  14.0   14  1.0
6  NaN  14.0    1  1.0
7  6.0  -5.0   11 -1.0

In [18]:
import datetime

months_choices = np.array( [ datetime.date(2008, i, 1).strftime('%B')  for i in range(1,13) ] )  
    
months_choices

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype='<U9')

In [19]:
import numpy.random as npr
npr.seed(1)
col = npr.choice(months_choices, df_a.shape[0])

df_a.index = col

df_a.index.name = 'Month'

df_a.columns = ['Name','City','Country','IATA','ICAO','Latitude','Longitude','Altitude','Timezone','DST','Tz_database_time_zone','Type','Source']

df_a.columns.name = 'Products' 

df_a.head(5)

Products,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz_database_time_zone,Type,Source
Month,,,,,,,,,,,,,
June,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,NaN,145.391998,5282,10.0,U,Pacific/Port_Moresby,airport,OurAirports
December,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,NaN,145.789001,20,10.0,U,Pacific/Port_Moresby,airport,OurAirports
September,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,NaN,144.296005,5388,10.0,U,Pacific/Port_Moresby,airport,OurAirports
October,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,NaN,146.725977,239,10.0,U,Pacific/Port_Moresby,airport,OurAirports
December,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,NaN,147.220001,146,10.0,U,Pacific/Port_Moresby,airport,OurAirports

In [20]:
df_a.index = df_a.index.str.upper() # elementwise

# same as:
# new_idx = [i.upper() for i in df_a.index]
# df_a.index = new_idx

df_a.head(5)

Products,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz_database_time_zone,Type,Source
Month,,,,,,,,,,,,,
JUNE,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,NaN,145.391998,5282,10.0,U,Pacific/Port_Moresby,airport,OurAirports
DECEMBER,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,NaN,145.789001,20,10.0,U,Pacific/Port_Moresby,airport,OurAirports
SEPTEMBER,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,NaN,144.296005,5388,10.0,U,Pacific/Port_Moresby,airport,OurAirports
OCTOBER,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,NaN,146.725977,239,10.0,U,Pacific/Port_Moresby,airport,OurAirports
DECEMBER,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,NaN,147.220001,146,10.0,U,Pacific/Port_Moresby,airport,OurAirports

In [21]:
df_a.index = df_a.index.map(str.lower) # vectorized function


df_a.head(5)

Products,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz_database_time_zone,Type,Source
Month,,,,,,,,,,,,,
june,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,NaN,145.391998,5282,10.0,U,Pacific/Port_Moresby,airport,OurAirports
december,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,NaN,145.789001,20,10.0,U,Pacific/Port_Moresby,airport,OurAirports
september,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,NaN,144.296005,5388,10.0,U,Pacific/Port_Moresby,airport,OurAirports
october,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,NaN,146.725977,239,10.0,U,Pacific/Port_Moresby,airport,OurAirports
december,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,NaN,147.220001,146,10.0,U,Pacific/Port_Moresby,airport,OurAirports

In [22]:
def to_celsius(F):
    return 5/9*(F - 32)

df_a[['Timezone','Altitude']] = df_a[['Timezone','Altitude']].apply(to_celsius)

df_a['Res'] = df_a.Longitude.apply(lambda n: n//10)

df_a['Map'] = df_a.Longitude + df_a.Latitude

df_a.head(8)

Products,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz_database_time_zone,Type,Source,Res,Map
Month,,,,,,,,,,,,,,,
june,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,NaN,145.391998,2916.666667,-12.222222,U,Pacific/Port_Moresby,airport,OurAirports,14.0,NaN
december,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,NaN,145.789001,-6.666667,-12.222222,U,Pacific/Port_Moresby,airport,OurAirports,14.0,NaN
september,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,NaN,144.296005,2975.555556,-12.222222,U,Pacific/Port_Moresby,airport,OurAirports,14.0,NaN
october,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,NaN,146.725977,115.000000,-12.222222,U,Pacific/Port_Moresby,airport,OurAirports,14.0,NaN
december,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,NaN,147.220001,63.333333,-12.222222,U,Pacific/Port_Moresby,airport,OurAirports,14.0,NaN
june,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,NaN,143.669006,-7.222222,-12.222222,U,Pacific/Port_Moresby,airport,OurAirports,14.0,NaN
january,Narsarsuaq Airport,Narssarssuaq,Greenland,UAK,BGBW,61.160500,-45.425999,44.444444,-19.444444,E,America/Godthab,airport,OurAirports,-5.0,15.734501
january,Godthaab / Nuuk Airport,Godthaab,Greenland,GOH,BGGH,64.190903,-51.678101,139.444444,-19.444444,E,America/Godthab,airport,OurAirports,-6.0,12.512802

In [23]:
daylight_savings_time = {'E': 'Europe', 'A' : 'US/Canada', 'S' : 'South America', 'O': 'Australia', 'Z': 'New Zealand', 'N': 'None',  'U': 'Unknown'}

df_a['DST'] = df_a['DST'].map(daylight_savings_time)

df_a.head(3)

Products,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz_database_time_zone,Type,Source,Res,Map
Month,,,,,,,,,,,,,,,
june,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,NaN,145.391998,2916.666667,-12.222222,Unknown,Pacific/Port_Moresby,airport,OurAirports,14.0,NaN
december,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,NaN,145.789001,-6.666667,-12.222222,Unknown,Pacific/Port_Moresby,airport,OurAirports,14.0,NaN
september,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,NaN,144.296005,2975.555556,-12.222222,Unknown,Pacific/Port_Moresby,airport,OurAirports,14.0,NaN

In statistics, the z-score is the number of standard deviations by which an observation is above the mean - so if it is negative, it means the observation is below the mean.

In [24]:
from scipy.stats import zscore  # to compute the deviation from the mean in fractions of the standard deviation

df_a['Long_z'] = zscore(df_a['Longitude'])

df_a.head(4)

Products,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz_database_time_zone,Type,Source,Res,Map,Long_z
Month,,,,,,,,,,,,,,,,
june,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,NaN,145.391998,2916.666667,-12.222222,Unknown,Pacific/Port_Moresby,airport,OurAirports,14.0,NaN,1.725116
december,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,NaN,145.789001,-6.666667,-12.222222,Unknown,Pacific/Port_Moresby,airport,OurAirports,14.0,NaN,1.729733
september,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,NaN,144.296005,2975.555556,-12.222222,Unknown,Pacific/Port_Moresby,airport,OurAirports,14.0,NaN,1.712370
october,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,NaN,146.725977,115.000000,-12.222222,Unknown,Pacific/Port_Moresby,airport,OurAirports,14.0,NaN,1.740630

##  Advanced indexing

Index labels are immutable like dictionary keys, so you should overwrite them all at once

In [25]:
df_airlines = pd.read_csv('/home/xenakas/Desktop/Git/py_projects/airports/airlines.csv',names = ['Airline ID','Name','Alias','IATA','ICAO','Callsign','Country','Active'])

df_airlines.head(4)

   Airline ID            Name Alias IATA ICAO Callsign        Country Active
0          -1         Unknown    \N    -  NaN       \N             \N      Y
1           1  Private flight    \N    -  NaN      NaN            NaN      Y
2           2     135 Airways    \N  NaN  GNL  GENERAL  United States      N
3           3   1Time Airline    \N   1T  RNX  NEXTIME   South Africa      Y

In [26]:
df_airlines.index = df_airlines['Airline ID']

del df_airlines['Airline ID']

#or use index_col = 'Airline ID' in pd.read_csv()

df_airlines.head(4)

                      Name Alias IATA ICAO Callsign        Country Active
Airline ID
-1                 Unknown    \N    -  NaN       \N             \N      Y
 1          Private flight    \N    -  NaN      NaN            NaN      Y
 2             135 Airways    \N  NaN  GNL  GENERAL  United States      N
 3           1Time Airline    \N   1T  RNX  NEXTIME   South Africa      Y

In [58]:
df_gdp = pd.read_csv('/home/xenakas/Desktop/Git/hierarchical_modelling/gdp_eu.csv')

print(df_gdp.columns)

del df_gdp['Unnamed: 0']

df_gdp = df_gdp.set_index(['geo', 'nace_r2',  'time'])

#print(df_gdp.index)

print(df_gdp.index.name)

print(df_gdp.index.names)

df_gdp.head(4)

Index(['Unnamed: 0', 'nace_r2', 'geo', 'time', 'values'], dtype='object')
None
['geo', 'nace_r2', 'time']

                                                          values
geo         nace_r2                           time
Switzerland Agriculture, forestry and fishing 2018-04-01   710.8
Cyprus      Agriculture, forestry and fishing 2018-04-01    63.7
Czechia     Agriculture, forestry and fishing 2018-04-01   485.8
Finland     Agriculture, forestry and fishing 2018-04-01  1286.6

In [59]:
df_gdp = df_gdp.sort_index()

df_gdp

                                                                            values
geo         nace_r2                                            time
Austria     Total - all NACE activities                        1996-01-01  42175.2
                                                               1996-04-01  45122.0
                                                               1996-07-01  45902.3
                                                               1996-10-01  47313.1
                                                               1997-01-01  43623.5
                                                               1997-04-01  45591.5
                                                               1997-07-01  46839.8
                                                               1997-10-01  48903.7
                                                               1998-01-01  45377.4
                                                               1998-04-01  48168.6
                                                               1998-07-01  48489.0
                                                               1998-10-01  49943.6
                                                               1999-01-01  46502.0
                                                               1999-04-01  49100.4
                                                               1999-07-01  50218.7
                                                               1999-10-01  52145.8
                                                               2000-01-01  48227.2
                                                               2000-04-01  51346.2
                                                               2000-07-01  52176.0
                                                               2000-10-01  54084.8
                                                               2001-01-01  50090.8
                                                               2001-04-01  52067.1
                                                               2001-07-01  52528.6
                                                               2001-10-01  54313.1
                                                               2002-01-01  50999.8
                                                               2002-04-01  52860.8
                                                               2002-07-01  53338.8
                                                               2002-10-01  54867.2
                                                               2003-01-01  51514.0
                                                               2003-04-01  53357.4
...                                                                            ...
Switzerland Wholesale and retail trade, transport, accomoda... 2011-01-01  18797.7
                                                               2011-04-01  19077.5
                                                               2011-07-01  19577.0
                                                               2011-10-01  19308.4
                                                               2012-01-01  18757.8
                                                               2012-04-01  19313.7
                                                               2012-07-01  19893.9
                                                               2012-10-01  19845.3
                                                               2013-01-01  18700.6
                                                               2013-04-01  19483.0
                                                               2013-07-01  20105.9
                                                               2013-10-01  20271.1
                                                               2014-01-01  19547.5
                                                               2014-04-01  20166.6
                                                               2014-07-01  21024.9
                                                               2014-10-01  21431.0
                                                               2015-01-01  20568.4
                                                               2015-04-01  21248.6
                                                               2015-07-01  21971.8
                                                               2015-10-01  21704.8
                                                               2016-01-01  21129.5
                                                               2016-04-01  21943.1
                                                               2016-07-01  22162.3
                                                               2016-10-01  21850.8
                                                               2017-01-01  20995.2
                                                               2017-04-01  22126.7
                                                               2017-07-01  22701.6
                                                               2017-10-01  22201.7
                                                               2018-01-01  21406.5
                                                               2018-04-01  22234.3

[11768 rows x 1 columns]

In [67]:
df_gdp.loc[('Cyprus', 'Construction')].head(5)

SyntaxError: invalid syntax (<ipython-input-67-dd508f56cea7>, line 1)

In [68]:
df_gdp.loc['Austria'].head(5)

                                         values
nace_r2                     time
Total - all NACE activities 1996-01-01  42175.2
                            1996-04-01  45122.0
                            1996-07-01  45902.3
                            1996-10-01  47313.1
                            1997-01-01  43623.5

In [69]:
df_gdp.loc['Ausria':'Cyprus']

                                                                        values
geo     nace_r2                                            time
Austria Total - all NACE activities                        1996-01-01  42175.2
                                                           1996-04-01  45122.0
                                                           1996-07-01  45902.3
                                                           1996-10-01  47313.1
                                                           1997-01-01  43623.5
                                                           1997-04-01  45591.5
                                                           1997-07-01  46839.8
                                                           1997-10-01  48903.7
                                                           1998-01-01  45377.4
                                                           1998-04-01  48168.6
                                                           1998-07-01  48489.0
                                                           1998-10-01  49943.6
                                                           1999-01-01  46502.0
                                                           1999-04-01  49100.4
                                                           1999-07-01  50218.7
                                                           1999-10-01  52145.8
                                                           2000-01-01  48227.2
                                                           2000-04-01  51346.2
                                                           2000-07-01  52176.0
                                                           2000-10-01  54084.8
                                                           2001-01-01  50090.8
                                                           2001-04-01  52067.1
                                                           2001-07-01  52528.6
                                                           2001-10-01  54313.1
                                                           2002-01-01  50999.8
                                                           2002-04-01  52860.8
                                                           2002-07-01  53338.8
                                                           2002-10-01  54867.2
                                                           2003-01-01  51514.0
                                                           2003-04-01  53357.4
...                                                                        ...
Cyprus  Wholesale and retail trade, transport, accomoda... 2011-01-01    903.6
                                                           2011-04-01    990.3
                                                           2011-07-01   1048.3
                                                           2011-10-01    950.9
                                                           2012-01-01    875.6
                                                           2012-04-01    958.1
                                                           2012-07-01   1022.6
                                                           2012-10-01    902.6
                                                           2013-01-01    814.1
                                                           2013-04-01    899.5
                                                           2013-07-01    988.9
                                                           2013-10-01    877.6
                                                           2014-01-01    786.5
                                                           2014-04-01    892.8
                                                           2014-07-01    969.6
                                                           2014-10-01    846.5
                                                           2015-01-01    777.0
                                                           2015-04-01    890.8
                                                           2015-07-01    978.1
                                                           2015-10-01    865.9
                                                           2016-01-01    804.2
                                                           2016-04-01    938.2
                                                           2016-07-01   1040.6
                                                           2016-10-01    922.1
                                                           2017-01-01    847.3
                                                           2017-04-01   1012.7
                                                           2017-07-01   1123.1
                                                           2017-10-01    974.6
                                                           2018-01-01    896.9
                                                           2018-04-01   1065.1

[1218 rows x 1 columns]

In [75]:
df_gdp.loc[(['Ausria','Cyprus'], ['Agriculture, forestry and fishing', 'Construction']),:].head(5)

                                                     values
geo    nace_r2                           time
Cyprus Agriculture, forestry and fishing 1995-01-01    97.1
                                         1995-04-01   121.3
                                         1995-07-01    96.8
                                         1995-10-01   100.1
                                         1996-01-01   106.6

In [77]:
df_gdp.loc[(slice('Ausria','Cyprus'), slice('Agriculture, forestry and fishing', 'Construction'), slice(None)),:]

                                                     values
geo    nace_r2                           time
Cyprus Agriculture, forestry and fishing 1995-01-01    97.1
                                         1995-04-01   121.3
                                         1995-07-01    96.8
                                         1995-10-01   100.1
                                         1996-01-01   106.6
                                         1996-04-01   104.6
                                         1996-07-01   113.5
                                         1996-10-01   101.6
                                         1997-01-01    92.0
                                         1997-04-01    84.6
                                         1997-07-01    93.2
                                         1997-10-01    88.9
                                         1998-01-01    96.1
                                         1998-04-01    97.2
                                         1998-07-01   110.0
                                         1998-10-01   104.7
                                         1999-01-01   106.9
                                         1999-04-01   103.9
                                         1999-07-01   113.6
                                         1999-10-01   104.2
                                         2000-01-01   101.9
                                         2000-04-01   100.3
                                         2000-07-01   112.3
                                         2000-10-01   103.6
                                         2001-01-01   106.4
                                         2001-04-01   107.7
                                         2001-07-01   119.4
                                         2001-10-01   112.8
                                         2002-01-01   113.6
                                         2002-04-01   113.8
...                                                     ...
       Construction                      2011-01-01   247.6
                                         2011-04-01   281.6
                                         2011-07-01   233.9
                                         2011-10-01   311.0
                                         2012-01-01   221.2
                                         2012-04-01   220.7
                                         2012-07-01   206.8
                                         2012-10-01   216.8
                                         2013-01-01   151.0
                                         2013-04-01   156.1
                                         2013-07-01   148.1
                                         2013-10-01   178.5
                                         2014-01-01   142.5
                                         2014-04-01   141.2
                                         2014-07-01   126.0
                                         2014-10-01   147.1
                                         2015-01-01   120.3
                                         2015-04-01   133.9
                                         2015-07-01   129.5
                                         2015-10-01   162.4
                                         2016-01-01   125.7
                                         2016-04-01   154.2
                                         2016-07-01   154.7
                                         2016-10-01   202.1
                                         2017-01-01   168.7
                                         2017-04-01   198.8
                                         2017-07-01   194.0
                                         2017-10-01   246.0
                                         2018-01-01   205.9
                                         2018-04-01   229.6

[282 rows x 1 columns]